* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
#root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 1rem;
  gap: 2rem;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1,auto);
  }
}
.card {
  width: 100%;
  box-shadow: 2px 2px 8px 4px rgb(206, 206, 206);
}
.card__img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1.5;
  border-radius: 8px;
}
.card__desc {
  padding: 1rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.card__btn{
  background-color: lightgreen;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: auto 300px;
  @media (max-width: 768px) {
   display: flex;
   justify-content: space-between; 
  }
}
#filter {
  width: 100%;
  padding: 1rem 0.5rem;
  border: 2px solid black;
  text-align: right;
  height: fit-content;
  border-radius: 10px;
  margin-top: 6px;
  box-shadow: 0 4px 6px rgb(0, 0, 0,1);
  background-color:floralwhite;
}
.title{
  margin: .3rem;
  text-decoration: underline rgb(138, 120, 120);
}
#title{
  text-decoration: underline rgb(138, 120, 120);
  margin-bottom: .3rem;
}
#header{
  background-color: antiquewhite;
  padding: 1rem 10%;
  position: relative;
}
.fav{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: aliceblue;
  width: 300px;
  max-height: 70vh;
  overflow-y: auto;
}
#favBtn{
  cursor: pointer;
  background-color:burlywood;
  color: black;
  padding: 5px;
  border-radius: 10px;
}
.hidden{
  display: none;
}
.fav-card{
  display: flex;
  gap: 1rem;
}
.fav-card img{
  width: 150px;
  border-radius: 8px;
}

.fav-card__desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fav-card__btn{
  background-color: lightgreen;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}